.navbar {
    background-color: #966d6d;
    padding: 25px;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
  }
  